<div class="card">
  <h2 class="login-title">Create Account</h2>
  <div class="login-container">
    <div class="login-box">
      <div class="form-group">
        <label for="firstnaem">FirstNmae</label>
        <input
          pInputText
          id="firstnaem"
          type="text"
          [(ngModel)]="registeRequest.firstname"
        />
      </div>

      <div class="form-group">
        <label for="lastname">LastName</label>
        <input
          pInputText
          id="lastname"
          type="text"
          [(ngModel)]="registeRequest.lastname"
        />
      </div>
      <div class="form-group">
        <label for="lastname">Email</label>
        <input
          pInputText
          id="email"
          type="email"
          [(ngModel)]="registeRequest.email"
        />
      </div>
      <div class="form-group">
        <label for="lastname">Password</label>
        <input
          pInputText
          id="password"
          type="password"
          [(ngModel)]="registeRequest.password"
        />
      </div>

      <div class="error-messages" *ngIf="errorMessage.length">
        <div class="error" *ngFor="let err of errorMessage">{{ err }}</div>
      </div>

      <div class="form-actions">
        <p-button
          label="Register"
          icon="pi pi-user-plus"
          (onClick)="SignUp()"
          [disabled]="loading"
          [loading]="loading"
        ></p-button>
      </div>
    </div>

    <div class="divider-box">
      <p-divider layout="vertical" class="divider-vertical"
        ><b>OR</b></p-divider
      >
      <p-divider layout="horizontal" class="divider-horizontal" align="center"
        ><b>OR</b></p-divider
      >
    </div>
    <div class="signup-box">
      <p-button
        label="Login"
        icon="pi pi-user"
        (onClick)="login()"
        severity="success"
      ></p-button>
    </div>
  </div>
</div>
